body {
  background-color: lightcyan;
}

h1 {
  text-align: center;
  font-size: 35px;
  font-style: italic;
  font-family: cursive;
}

h2 {
  text-align: center;
  font-size: 15px;
  font-style: italic;
  font-family: cursive;
}

input {
  width: 100%;
  border-width: 0px;
  background-color: lightblue;
  font-size: 10px;
}

th {
  font-size: 10px;
}

.hero-body {
  background-color: lightblue;
}

.container-head {
  background-color: whitesmoke;
}

.notification.is-primary {
  background-color: navy;
  width: 200px;
}

#davids-container1 {
  background-color: lightcyan;
  align-content: center;
  width: 100%;
}

.column {
  clear: both;
  justify-content: center;
  text-align: center;
}

#colz1 {
  background-color: navy;
  border: 2px solid lightblue;
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 50px;
  width: 200px;
  max-height: 100px;
}

#colz2 {
  background-color: navy;
  border: 2px solid lightblue;
  border-radius: 15px;
  margin-left: 10px;
  margin-bottom: 50px;
  width: 200px;
}

#stock-form {
  margin-left: auto;
  margin-right: auto;
}

#ticker-input {
  background-color: lightblue;
  width: 125px;
}

#quantity-input {
  background-color: lightblue;
  width: 125px;
}

#boxset {
  box-sizing: initial;
}

#con-column {
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: lightcyan;
}

#table-column-1 {
  width: 100%;
  table-layout: auto;
}

.title.is-3 {
  display: flex;
  flex: auto;
  clear: both;
  text-align: center;
  color: black;
}

.table {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.table.is-centered {
  align-content: center;
  justify-content: center;
}

#table-pt1 {
  background-color: lightblue;
  border: 2px solid navy;
  border-radius: 25px;
  table-layout: auto;
  width: 60%;
}

.tablerow {
  font-size: 9px;
  table-layout: auto;
  align-content: space-between;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

#table-header {
  color: blue;
  text-align: center;
}  

button {
  font-size: 10px;
}

#row0col0 {
  text-align: justify;
}  

#row0col1 {
  text-align: justify;
}  

#row0col2 {
  text-align: justify;
}  

#col2-row2-btn {
  font-size: 8px;
  width: 75%;
}

#col3-row2-btn {
  font-size: 8px;
  width: 75%;
}

#col2-row3-btn {
  font-size: 8px;
  width: 75%;
}

#col3-row3-btn {
  font-size: 8px;
  width: 75%;
}

#col2-row4-btn {
  font-size: 8px;
  width: 75%;
}

#col3-row4-btn {
  font-size: 8px;
  width: 75%;
}

#col2-row5-btn {
  font-size: 8px;
  width: 75%;
}

#col3-row5-btn {
  font-size: 8px;
  width: 75%;
}

#col2-row6-btn {
  font-size: 8px;
  width: 75%;
}

#col3-row6-btn {
  font-size: 8px;
  width: 75%;
}

#col2-row7-btn {
  font-size: 8px;
  width: 75%;
}

#col3-row7-btn {
  font-size: 8px;
  width: 75%;
}

#col2-row8-btn {
  font-size: 8px;
  width: 75%;
}

#col3-row8-btn {
  font-size: 8px;
  width: 75%;
}

#table-column-2 {
  width: 100%;
  display: table;
  table-layout: fixed;
  background-color: lightcyan;
}  

.table-pt2 {
  justify-content: center;
  table-layout: fixed;
  border: 2px solid navy;
  border-radius: 25px;
  background-color: lightblue;
  margin-right: 20px;
}  

#purchased-stock-table {
  font-size: 5px;
  padding: 500px;
}

.brianhead {
  text-align: center;
  font-size: 9px;
  align-content: space-between;
  margin-left: auto;
  margin-right: auto;
}  

#brianhead2 {
  text-align: left;
  font-size: 9px;
  align-content: space-between;
  margin-left: auto;
  margin-right: auto;
}






/*

SEPERATOR FOR CSS CLEANUP .....................................................................................................................................................................................................................................

*/







/*

SEPERATOR FOR Possible Garbage detected during BOM Audit.....................................................................................................................................................................................................................................

*/




#davids-company {
  background-color: lightcyan;
  color: black;
}  


#davids-stock {
  background-color: lightblue;
}  


#purch {
  max-width: 80%;
}




/*

SEPERATOR FOR Possible Garbage detected during BOM Audit.....................................................................................................................................................................................................................................

*/






